# LABEL ENCODING

In [1]:
import pandas as pd

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
lbl_encoder = LabelEncoder()

In [5]:
df = pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [6]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [7]:
lbl_encoder.fit_transform(df[['color']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [8]:
lbl_encoder.transform([['red']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [9]:
lbl_encoder.transform([['blue']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [10]:
lbl_encoder.transform([['green']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

# ORDINAL ENCODING

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
df = pd.DataFrame({
    'size' : ['small','medium','large','medium','small','large']
})

In [13]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [14]:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [15]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])